<h6>The best kind of news is:</h6>
<h1>Food News</h1>
<div class="container">
    {{#each articles}}
    <div class="row">
        <div class="col s12 m7 offset-l3 l6">
            <div class="card">
                <div class="card-image">
                    <img src="{{image}}">
                </div>
                <div class="center-align card-content">
                    <p class="card-title"><a href="{{a}}">{{title}}</a></p>
                    <p>{{summary}}</p>
                </div>
                <div class="center-align card-action">
                    <a id="makeNote{{_id}}" class="makeNote" href="#{{_id}}" data-makenoteid="{{_id}}"
                        data-title="{{title}}">Make a note</a>
                    <a id="deleteArticle" href="{{_id}}" data-deletearticleid="{{_id}}">Delete article</a>
                </div>
            </div>
        </div>
    </div>


    <div id="modal{{_id}}" class="modal modal-fixed-footer">
    <div class="modal-content center-align">
        <h4>Notes for:</h4>
        <h6 class="title" id="{{title}}" data-id="{{_id}}">{{title}}</h6>
        <div class="savedNotes">
            <p>Saved Notes:</p>
            <div class="savedNotesGoHere" id="notes{{_id}}"></div>
        </div>

        <div class="row">

            <p>Add a Note Below!</p>
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12 offset-l2 l8">
                        <input id="newNote{{_id}}" type="text" class="validate">
                        <label for="newNote{{_id}}">Enter Note</label>
                    </div>
                </div>
            </form>
        </div>
        <a class="waves-effect waves-light btn insertNote" id="insert{{_id}}" data-id="{{_id}}">Insert Note</a>

    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Exit</a>
    </div>
</div>
    {{/each}}
</div>


<!-- Modal Structure -->




<script>

    $(document).ready(function () {
        $('.modal').modal();
    });
    $(".container").show()
    $(".scrapeButton").hide()

    $("body").on("click", "#deleteArticle", function () {
        var id = $(this).data("deletearticleid")
        $.ajax({
            url: "/deletedArticle",
            method: "POST",
            data: {
                id: id
            }
        }).then(function (data) {
            console.log(data)
            location.reload()
        })
    })

    $("body").on("click", ".makeNote", function () {
        var dbId = $(this).data("makenoteid")
        var modalLink = "modal" + dbId
        var modalLinkID = "#modal" + dbId
        var title = $(this).data("title")
        
       
        console.log(title)
        console.log(modalLinkID)
        

        var queryUrl = "/notes/" + dbId

        $(".savedNotesGoHere").empty()
        $.get(queryUrl).then(function (data) {
            console.log(data)
            
            for (var i = 0; i < data[0].notes.length; i++) {
                
               var text = data[0].notes[i].entry
               var newDiv = $("<div>").addClass("entries row")
               var newtext = $("<p>").text(text).addClass("col l6")
               var newButton = $("<button>").text("Delete").data("dbid", data[0].notes[i]._id).addClass("col l3 deleteNote").data("whatModal", "modal" + data[0]._id)
                newDiv.append(newtext, newButton)
               var whereToGo = "#notes" + data[0]._id
               $(whereToGo).append(newDiv)
            }
            $(modalLinkID).modal('open')
        })


    })


    $(".insertNote").on("click", function () {
        
        var id = $(this).data("id")
        console.log(id)
        var whatNote = "#newNote" + id
        console.log(whatNote)
        var entry = $(whatNote).val().trim()
        
        $(whatNote).val("")
        var title =  $(whatNote).data("id")
        
        console.log(title)
        $.ajax({
            url: "/note",
            method: "POST",
            data: {
                title: title,
                entry: entry,
                id: id
            }
        }).then(function (data) {
            console.log(data)
            alert("Note inserted!")
            location.reload()
        })
    })

    $("body").on("click", ".deleteNote", function(){
        var whatModal = "#" + $(this).data("whatModal")
        var id = $(this).data("dbid")
        $.ajax({
            method: "DELETE",
            url:"/deleteNote",
            data:{
                id: id
            }
        }).then(function(data){
            console.log(data)
           console.log(whatModal)
           alert("Note deleted!")
           location.reload()
        })
    })
</script>